@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", cursive;
}

.register-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.register .col-1 {
    margin: auto;
    padding: 3em 0;
}

.register .col-2 img {
    width: 480px;
    height: 100%;
    object-fit: cover;
    align-self: flex-end;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* display: none; */
}

.brighten img {
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.brighten img:hover {
    -webkit-filter: brightness(50%);
}

.card {
    @apply bg-white rounded overflow-hidden shadow-md relative;
}

.badge {
    @apply bg-gray-500 text-white text-xs uppercase rounded-md opacity-80 p-1 absolute top-0 ml-2 mt-2;
}

.btn {
    @apply rounded-md py-1 px-1 cursor-pointer tracking-wider;
}

/* Media queries */
@media (max-width: 768px) {
    .register .col-2 img {
        display: none;
    }
}

@media (max-width: 768px) {
    .register .col-1 {
        margin: auto;
        padding: 3em 0;
    }
}

@media (min-width: 640px) {
    .w-fixed {
        flex: 0 1 230px;
        min-width: 230px;
    }
}
